<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Standard Code Analysis Rule Set" Description="This is the standard code analysis rule set." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0063" Action="None" />
    <Rule Id="IDE1006" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1001" Action="Warning" />
    <Rule Id="RCS1003" Action="Warning" />
    <Rule Id="RCS1007" Action="Warning" />
    <Rule Id="RCS1015" Action="Warning" />
    <Rule Id="RCS1031" Action="None" />
    <Rule Id="RCS1043" Action="Warning" />
    <Rule Id="RCS1066" Action="Warning" />
    <Rule Id="RCS1079" Action="None" />
    <Rule Id="RCS1090" Action="Warning" />
    <Rule Id="RCS1118" Action="None" />
    <Rule Id="RCS1126" Action="Warning" />
    <Rule Id="RCS1163" Action="None" />
    <Rule Id="RCS1170" Action="None" />
    <Rule Id="RCS1187" Action="None" />
    <Rule Id="RCS1194" Action="None" />
    <Rule Id="RCS1197" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1066" Action="Info" />
    <Rule Id="S107" Action="Info" />
    <Rule Id="S110" Action="Warning" />
    <Rule Id="S1128" Action="Warning" />
    <Rule Id="S1135" Action="Info" />
    <Rule Id="S1145" Action="Warning" />
    <Rule Id="S1147" Action="Warning" />
    <Rule Id="S121" Action="Warning" />
    <Rule Id="S1226" Action="Warning" />
    <Rule Id="S1244" Action="Warning" />
    <Rule Id="S127" Action="Warning" />
    <Rule Id="S1301" Action="Warning" />
    <Rule Id="S131" Action="Warning" />
    <Rule Id="S1449" Action="Warning" />
    <Rule Id="S1697" Action="Warning" />
    <Rule Id="S1698" Action="Warning" />
    <Rule Id="S1858" Action="Warning" />
    <Rule Id="S1939" Action="Info" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2070" Action="Warning" />
    <Rule Id="S2156" Action="Warning" />
    <Rule Id="S2197" Action="Warning" />
    <Rule Id="S2228" Action="Warning" />
    <Rule Id="S2278" Action="Warning" />
    <Rule Id="S2330" Action="Warning" />
    <Rule Id="S2333" Action="Warning" />
    <Rule Id="S2339" Action="Warning" />
    <Rule Id="S2357" Action="Warning" />
    <Rule Id="S2360" Action="Warning" />
    <Rule Id="S2387" Action="Warning" />
    <Rule Id="S2437" Action="Warning" />
    <Rule Id="S2674" Action="Warning" />
    <Rule Id="S2760" Action="Warning" />
    <Rule Id="S2931" Action="Warning" />
    <Rule Id="S2952" Action="Warning" />
    <Rule Id="S2955" Action="Warning" />
    <Rule Id="S3215" Action="Warning" />
    <Rule Id="S3216" Action="Warning" />
    <Rule Id="S3234" Action="Warning" />
    <Rule Id="S3235" Action="Warning" />
    <Rule Id="S3253" Action="Warning" />
    <Rule Id="S3532" Action="Warning" />
    <Rule Id="S3872" Action="Warning" />
    <Rule Id="S3874" Action="Warning" />
    <Rule Id="S3876" Action="Warning" />
    <Rule Id="S3880" Action="Warning" />
    <Rule Id="S3949" Action="Warning" />
    <Rule Id="S4212" Action="Warning" />
    <Rule Id="S4432" Action="Warning" />
    <Rule Id="S4487" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="CA1591" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="None" />
  </Rules>
</RuleSet>
